{{- /* Match inline body image HTML that MailerLite actually renders (see spirits.jpg in index.xml). */}}
{{- $coverURL := .coverURL }}
{{- $coverAlt := .coverAlt }}
{{- $imgRes := .imgRes }}
{{- $orientation := "landscape" }}
{{- with $imgRes }}
  {{- if lt .Width .Height }}{{ $orientation = "portrait" }}
  {{- else if eq .Width .Height }}{{ $orientation = "square" }}{{ end }}
{{- end }}
<p><figure class="post-figure post-figure--{{ $orientation }}"><img src="{{ $coverURL }}" alt="{{ $coverAlt }}" loading="lazy" decoding="async"{{- with $imgRes }} width="{{ .Width }}" height="{{ .Height }}"{{ end }}></figure></p>
