{{/*
Shortcode to display posts grouped by categories
Usage: {{< categorized-posts >}}
*/}}

{{/* Get all regular pages (posts) that are not drafts */}}
{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $posts = where $posts "Draft" false }}

{{/* Define category display order and names */}}
{{ $categoryOrder := slice "職涯" "澳洲生活" "投資理財" "海外旅遊" }}
{{ $categoryDisplayNames := dict 
  "職涯" "海外職場/轉職工程師"
  "澳洲生活" "澳洲生活"
  "投資理財" "澳洲投資理財"
  "海外旅遊" "海外旅遊"
}}

{{/* Display posts by category in specified order */}}
{{ range $categoryOrder }}
  {{ $category := . }}
  {{ $categoryPosts := where $posts "Params.categories" "intersect" (slice $category) }}
  {{ if $categoryPosts }}
    {{ $displayName := index $categoryDisplayNames $category }}

<h3><a href="/categories/{{ $category | urlize }}/"><strong>{{ $displayName }}</strong></a></h3>
<ul>
{{ range $categoryPosts.ByTitle }}
<li><a href="{{ .RelPermalink }}">{{ .Title | htmlEscape }}</a></li>
{{ end }}
</ul>

  {{ end }}
{{ end }}